<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Online Voting System</span>
  <span class="example-spacer"></span>
  <button mat-raised-button><a style="text-decoration:none" routerLink="/login">Login</a></button> &nbsp;
  <button mat-raised-button><a routerLink="/User">User</a></button> &nbsp;
  <button mat-raised-button><a routerLink="/admin">Admin</a></button>

</mat-toolbar>

<div class="card text-center">
  
  <div class="card-body" style="height:32rem;">
    <h5 class="card-title"></h5>
    
<div class="image">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5_i-ZrcwTr7mCDYXFBL4fNmrD7lYL1VRt1liBhmORdQ&s">  </div>


    <mat-card>
      <mat-card-content>
  
        <h1 style="color: indigo ;font-size: 40px;text-align:center;"><b>Welcome to Vote !</b></h1>
        <br><br><br>
        <p style="font-size: 30px; color: black;"><b>Your voice matters... </b></p>
  
        <br><br>
        <p style="font-size: 20px; color: grey;"> We are thrilled to have you participate in the democratic process
          .<br><br>Empower yourself with the strength of your vote.</p><br><br>
        <p STYLE="font-size:20px; color:indigo;text-align:center;"><b>HAPPY VOTING !!!</b></p>
  
      </mat-card-content>
    </mat-card>

    <!-- <mat-card class="second">
      <mat-card-content class="secondcon">
khal
      </mat-card-content>
    </mat-card> -->


    
  </div>
  <div class="card-footer text-body-secondary" style="height:92px; background-color:rgb(39, 0, 130);">
   <p style="color:white">Election comission of India</p>
  </div>
</div>
<!-- <div class="row">

  <mat-card>
    <mat-card-content>

      <h1 style="color: indigo ;font-size: 40px;text-align:center;"><b>Welcome to Vote !</b></h1>
      <br><br><br>
      <p style="font-size: 30px; color: black;"><b>Your voice matters... </b></p>

      <br><br>
      <p style="font-size: 25px; color: grey;"> We are thrilled to have you participate in the democratic process
        .<br><br>Empower yourself with the strength of your vote.</p><br><br>
      <p STYLE="font-size:20px; color:indigo;text-align:center;"><b>HAPPY VOTING !!!</b></p>

    </mat-card-content>
  </mat-card>
</div> -->

<!-- <div> <img class="image"
    src="https://img.freepik.com/free-vector/electronic-voting-abstract-concept-illustration-electronic-election-online-voting-e-voting-system-government-digital-technology-internet-ballot-campaign-website_335657-437.jpg">
</div> -->