<!-- <p>uv-election works!</p>

<div class="card">
    <div class="card-body">
     
      <h4 style="text-align:center">All laptop details</h4>
      <br>
      <table class="table">
        <tr>
          <th>Election Id</th>
          <th>Election Name</th>
          <th>Party Name</th>
          <th>Date</th>
          <th>Vote</th>
          
        </tr>

        <tr *ngFor="let ele of electionList">
          <td>{{ele.electionId}}</td>
          <td>{{ele.electionName}}</td>
          <td>{{ele.partyName}}</td>
          <td>{{ele.date}}</td>
          <td><button type="button" class="btn btn-success" ><a routerLink="/editelection" style="text-decoration: none;color:black;">Vote</a></button></td>

          
         
        </tr>

        
      </table>
    </div>
  </div> -->
